

public net.minecraft.world.entity.LivingEntity f_20954_ #jumpTicks
public net.minecraft.world.entity.LivingEntity f_20938_ # autoSpinAttackTicks
public net.minecraft.world.entity.LivingEntity m_21244_(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack; # getLastHandItem
public net.minecraft.world.entity.LivingEntity m_21198_(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack; # getLastArmorItem
public net.minecraft.world.entity.Entity f_19815_ # dimensions

public net.minecraft.world.level.storage.loot.LootContext; # Loot Context

public net.minecraft.world.entity.npc.VillagerTrades$EnchantBookForEmeralds
public net.minecraft.world.entity.vehicle.Boat f_38265_ #outOfControlTicks
public net.minecraft.world.entity.vehicle.Boat f_38279_ #status
public net.minecraft.world.level.block.FireBlock m_53437_(Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;I)Lnet/minecraft/world/level/block/state/BlockState; # getFireWithAge
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210559_ # rawTemplates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210560_ # templates
public-f net.minecraft.world.level.levelgen.feature.StructureFeature f_67031_ # NOISE_AFFECTING_FEATURES
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ # DEFAULTS
public-f net.minecraft.world.level.levelgen.flat.FlatLevelGeneratorSettings f_70349_ #STRUCTURES
public-f net.minecraft.world.level.levelgen.StructureSettings f_64582_ # structureConfig
public-f net.minecraft.world.level.levelgen.StructureSettings f_189361_ #configuredStructures
public-f net.minecraft.world.level.biome.BiomeGenerationSettings f_47781_ #An instance of List<List<Supplier<ConfiguredFeature<?, ?>>>>
public net.minecraft.world.level.Explosion f_46017_ # radius
public-f com.mojang.blaze3d.vertex.PoseStack f_85834_ # stack
public com.mojang.math.Matrix4f f_27606_ # m03
public com.mojang.math.Matrix4f f_27610_ # m13
public com.mojang.math.Matrix4f f_27614_ # m23

public net.minecraft.world.entity.ai.targeting.TargetingConditions <init>(Z)V

public net.minecraft.world.entity.item.FallingBlockEntity f_31946_ # fallTile
public net.minecraft.world.entity.LivingEntity m_6129_()Z # func_241208_cS_
public net.minecraft.world.entity.Entity m_20115_(IZ)V # setFlag
public net.minecraft.world.entity.monster.EnderMan m_32529_()Z # teleportRandomly
public net.minecraft.world.entity.ai.goal.GoalSelector f_25345_ # goals
public net.minecraft.world.entity.AreaEffectCloud f_19685_ # effects
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74482_ # blocks
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74483_ # entities
public net.minecraft.world.entity.monster.ZombieVillager m_34383_(Ljava/util/UUID;I)V # startConverting
public net.minecraft.world.entity.monster.Creeper m_32315_()V # explodeCreeper

#extending item stacks max size
public net.minecraft.world.inventory.AbstractContainerMenu f_38845_ # quickcraftType
public net.minecraft.world.inventory.AbstractContainerMenu f_38846_ # quickcraftStatus
public net.minecraft.world.inventory.AbstractContainerMenu f_38847_ # quickcraftSlots
public net.minecraft.world.inventory.AbstractContainerMenu f_38841_ # lastSlots
public net.minecraft.world.inventory.AbstractContainerMenu f_38848_ # containerListeners
public net.minecraft.world.inventory.AbstractContainerMenu f_38842_ # dataSlots

#gui stuff
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97799_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/inventory/Slot;)V # renderSlot
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97818_()V # recalculateQuickCraftRemaining
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97717_ # quickCraftingType
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97710_ # isSplittingStack
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97711_ # draggingItem
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen f_97706_ # clickedSlot
public net.minecraft.client.gui.GuiComponent f_93095_ # blitOffset

# client stuff
public net.minecraft.client.Options f_92043_ # forceUnicodeFont

#bees
public net.minecraft.world.entity.animal.Bee m_27919_(Z)V # setHasNectar

#loot table stuff
public net.minecraft.world.level.storage.loot.LootTable f_79109_ # pools
public net.minecraft.world.level.storage.loot.LootPool f_79023_ # entries
public net.minecraft.world.level.storage.loot.LootPool f_79024_ # conditions
public net.minecraft.world.level.storage.loot.LootPool f_79026_ # functions

public net.minecraft.world.level.storage.loot.functions.SetItemCountFunction f_80997_ # value
public net.minecraft.world.level.storage.loot.functions.SetItemDamageFunction f_81038_ # damage
public net.minecraft.world.level.storage.loot.providers.number.UniformGenerator f_165774_ # min
public net.minecraft.world.level.storage.loot.providers.number.UniformGenerator f_165775_ # max
public net.minecraft.world.level.storage.loot.providers.number.BinomialDistributionGenerator f_165653_ # n
public net.minecraft.world.level.storage.loot.predicates.LootItemRandomChanceCondition f_81921_ # probability
public net.minecraft.world.level.storage.loot.predicates.LootItemRandomChanceWithLootingCondition f_81953_ # percent
public net.minecraft.world.level.storage.loot.entries.LootItem f_79564_ # item
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79675_ # weight
public net.minecraft.world.level.storage.loot.entries.LootPoolEntryContainer f_79636_ # conditions
public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer f_79677_ # functions
public net.minecraft.world.level.storage.loot.entries.LootTableReference f_79754_ # name
public net.minecraft.world.level.storage.loot.LootContext <init>(Ljava/util/Random;FLnet/minecraft/server/level/ServerLevel;Ljava/util/function/Function;Ljava/util/function/Function;Ljava/util/Map;Ljava/util/Map;)V # <init>